@page
@model PersonalJournalApp.Pages.Entries.DeleteModel
@{
}


<h1>Item with ID @Model.RemoveId  Has Been Deleted</h1><br>
<a asp-page="/Entries/Index" class="me-2 btn btn-secondary btn-lg btn-block">Back</a>
